<div class="row">
    <pre>
 ___________    __________
 \__    ___/____\______   \ ____   ____  __ __   ____
   |    | /  ___/|       _//  _ \ / ___\|  |  \_/ __ \
   |    | \___ \ |    |   (  <_> ) /_/  >  |  /\  ___/
   |____|/____  >|____|_  /\____/\___  /|____/  \___  >
              \/        \/      /_____/             \/
    </pre>
</div>
<div class="row">
  <button mat-button color="primary" routerLink="/create">
    Create new player
  </button>
  <button mat-button color="primary" routerLink="/game" *ngIf="isGameStarted">
    Continue game
  </button>
  <button mat-button color="accent" (click)="startNewGame()" *ngIf="isPlayerExist">
    New game
  </button>
</div>
