<div class="row">
    <pre>
 ___________    __________
 \__    ___/____\______   \ ____   ____  __ __   ____
   |    | /  ___/|       _//  _ \ / ___\|  |  \_/ __ \
   |    | \___ \ |    |   (  <_> ) /_/  >  |  /\  ___/
   |____|/____  >|____|_  /\____/\___  /|____/  \___  >
              \/        \/      /_____/             \/
    </pre>
</div>
<div class="row">
    <ul class="nav nav-list">
      <li><a routerLink="/create">Create new player</a></li>
      <li *ngIf="isGameStarted"><a routerLink="/game">Continue game</a></li>
      <li *ngIf="isPlayerExist"><a (click)="startNewGame()">New game</a></li>
    </ul>
</div>
