<h3>{{'Create character'|translate}}</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-6 ui-md-2">
    <app-ability ability="strength"></app-ability>
    <app-ability ability="constitution"></app-ability>
    <app-ability ability="charisma"></app-ability>
    <app-ability ability="wisdom"></app-ability>
    <app-ability ability="intelligence"></app-ability>
    <app-ability ability="dexterity"></app-ability>
  </div>
  <div class="ui-g-1 ui-md-1">
        <app-dices></app-dices>
  </div>
  <div class="ui-g-3 ui-md-2" *ngIf="_diceService.abilityScore.length <= 5">
    <button pButton icon="fas fa-dice" class="ui-button-success" (click)="onDice()"></button>
    <app-roll-dices [dices]="dicesScore"></app-roll-dices>
  </div>
</div>
