<h3>{{'Create character'|translate}}</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <app-ability *ngFor="let ability of attributesKeys" ability="{{ability}}"></app-ability>
  </div>
  <div class="ui-g-12 ui-md-2">
    <app-dices></app-dices>
  </div>
  <div class="ui-g-3 ui-md-2" *ngIf="_diceService.dicesScore.length <= 5">
    <button pButton icon="fas fa-dice" class="ui-button-success" (click)="onDice()"></button>
    <app-roll-dices [dices]="dicesScore"></app-roll-dices>
  </div>
</div>
<button pButton label="save" class="ui-button-success" (click)="onSave()"></button>
