<div class="panel">
  <div class="panel-heading">Player Info</div>
  <div class="panel-body">
    <div class="row-fluid">
      <div class="span6" style="border-right: yellow solid 1px">
        <div *ngFor="let attribute of attributes">
          {{attribute}} : {{entitiesService.getPlayer()?.getAttributeValue(attribute)}}
        </div>
      </div>
      <div class="span6">
        Gold : {{entitiesService.getPlayer()?.gp}}<br/>
        AC : {{entitiesService.getPlayer()?.ac}}<br/>
        HP : {{entitiesService.getPlayer()?.hp}}
      </div>
    </div>
    <br/>
  </div>
</div>
