<div class="container-fluid modal-body">
  <div class="row">
    <div class="span6">
      <ul>
        <li *ngFor="let gameObject of _player.inventory | keyvalue; let i = index"
            [class.selected]="gameObject.key == _selected">
          {{gameObject.key}} - {{gameObject.value.name}}
        </li>
      </ul>
    </div>
    <div class="span6"></div>
  </div>
  <div class="row" *ngIf="_selected">
    <span>[c]ancel</span>&nbsp;
    <span *ngIf="isSelectedWearable()">[w]ear&nbsp;</span>
    <span *ngIf="isSelectedEquipable()">[e]quip&nbsp;</span>
  </div>
</div>
