@import "~ngx-smart-modal/ngx-smart-modal.scss";

.nsm-content {
  background-color: #000084;
  border: 10px double yellow;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 10px 10px 0 #000000;
  padding: 0;
}
